{% extends 'store/layouts/main.html' %}
{% load static %}

{% block content %}
<div class="py-3 bg-primary">
  <div class="container">
    <a href="{% url 'home' %}" class="text-white"> 首頁 /</a>
    <a href="{% url 'about' %}" class="text-white"> 關於我</a>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body cartdata">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div style="font-size: 28pt;">住址：​701 台南市東區崇善路555號8樓之6</div>
                    <div style="font-size: 28pt;">手機：0910831300</div>
                    <div style="font-size: 28pt;">傳真：(06)2677322</div>
                    <div style="font-size: 28pt;">信箱：bahg2001@gmail.com</div>
                  
                  </td>
                  <td style="text-align: center;">
                    <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/001_orig.jpg" alt="">
                  </td>
                </tr>
          
                <tr>
                  <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695573048/bigbear/%E9%97%9C%E6%96%BC%E6%88%91/Line_qrcode_o15sqt.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text fs-4">大熊廣告印刷設計(Line)</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}