{% extends 'store/layouts/main.html' %}

{% block content %}
<div class="py-3 bg-primary">
  <div class="container">
    <a href="{% url 'home' %}" class="text-white"> 首頁 /</a>
    <a href="{% url 'cart' %}" class="text-white"> 購物車</a>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body cartdata">
            {% if cart %}
            <div class="row pb-1">
              <div class="col-md-1 fs-5 fw-semibold border-bottom border-secondary">圖示</div>
              <div class="col-md-2 fs-5 fw-semibold border-bottom border-secondary">產品名稱</div>
              <div class="col-md-1 fs-5 fw-semibold border-bottom border-secondary">單價(元)</div>
              <div class="col-md-2 fs-5 fw-semibold border-bottom border-secondary">數量</div>
              <div class="col-md-4 fs-5 fw-semibold border-bottom border-secondary">說明(含燙金內容)</div>
              <div class="col-md-2 fs-5 fw-semibold border-bottom border-secondary">功能</div>
            </div>
              {% for item in cart %}
                <div class="row product_data">
                  <div class="col-md-1 my-auto">
                    <img src="{{ item.product.product_image }}" height="70px" width="70px" alt="Image here">
                  </div>
                  <div class="col-md-2 my-auto">
                    <h6>{{ item.product.name }}</h6>
                  </div>
                  <div class="col-md-1 my-auto">
                    <h6>{{ item.product.original_price|stringformat:'d' }}</h6>
                    <h6>{{ item.product.selling_price|stringformat:'d' }} <small>(滿百個)</small>  </h6>
                  </div>
                  <div class="col-md-2 my-auto">
                    <input type="hidden" value="{{ item.product_id }}" class="prod_id">
                    {% csrf_token %}
                    {% if item.product.quantity >= item.product_qty %}
                      <div class="input-group text-center mb-3" style="width: 130px;">
                        <!--
                          <button class="input-group-text changeQuantity decrement-btn">-</button>
                        -->
                        <input type="text" name="quantity" class="form-control qty-input text-center" value="{{ item.product_qty }}">
                        <!--
                          <button class="input-group-text changeQuantity increment-btn">+</button>
                        -->
                      </div>
                    {% else %}
                      <h6>缺貨</h6>
                    {% endif %}
                  </div>
                  <div class="col-md-4 my-auto">
                    <input type="hidden" value="{{ item.product_id }}" class="prod_id">
                    <div class="row">
                      <textarea id="remarkField" name="remark" class="form-control remark-input" rows="2">{{ item.remark|default:"" }}</textarea>
                    </div>
                  </div>
                  <!-- 刪除 -->
                  <div class="col-md-2 my-auto">
                    <button  class="btn btn-primary fs-3 updateCart"><i class="fa-solid fa-check"></i></button>
                    <button class="btn btn-danger delete-cart-item fs-3"><i class="fa-solid fa-trash"></i> </button>
                  </div>
                </div>
              {% endfor %}
              <a href="{% url 'checkout' %}" class="btn btn-outline-success float-end">結帳</a>
            {% else %}
                <h4>您的購物車是空的</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}
