{% extends 'store/layouts/main.html' %}
{% block content %}
  {% include 'store/inc/slider.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>商品分類</h1>
        <hr>
        <div class="row">
          <!--三角台曆區-->
          <div class="col-md-4">
            <div class="card">
              <a href="{% url 'collectionsview' 'tdca' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052155/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E4%B8%89%E8%A7%92%E5%8F%B0%E6%9B%86%E5%8D%80_xwu53v.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!--月曆區-->
          <div class="col-md-4">
            <div class="card">
              <a href="{% url 'collectionsview' 'ca' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052160/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E6%9C%88%E6%9B%86%E5%8D%80_lzadxg.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!--年曆掛軸區-->
          <div class="col-md-4">
            <div class="card">
              <a href="{% url 'collectionsview' 'chs' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052159/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E5%B9%B4%E6%9B%86%E6%8E%9B%E8%BB%B8%E5%8D%80_j9q7dx.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <!--中西式桌曆-->
          <div class="col-md-4">
            <div class="card">
              <a href="{% url 'collectionsview' 'cawsdc' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052156/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E4%B8%AD%E8%A5%BF%E5%BC%8F%E6%A1%8C%E6%9B%86_vv1yr6.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!--工商手冊區-->
          <div class="col-md-4">
            <div class="card">
              <a href="{% url 'collectionsview' 'bh' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052158/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E5%B7%A5%E5%95%86%E6%89%8B%E5%86%8A%E5%8D%80_qj1kum.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!--日曆農民曆-->
          <div class="col-md-4">
            <div class="card">
              <a href="{% url 'collectionsview' 'cpcd' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052159/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E6%97%A5%E6%9B%86%E8%BE%B2%E6%B0%91%E6%9B%86_yp7ajd.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>

        <!--各式便條區-->
        <div class="row">
          <div class="col">
            <div class="card">
              <a href="{% url 'collectionsview' 'nba' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052156/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E5%90%84%E5%BC%8F%E4%BE%BF%E6%A2%9D%E5%8D%80_i0tcj1.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!--多元化私版商品訂購-->
        <div class="row">
          <div class="col">
            <div class="card">
              <a href="{% url 'collectionsview' 'custom' %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="https://res.cloudinary.com/dp53ha8ie/image/upload/v1695052157/bigbear/index%E7%B4%A2%E5%BC%95%E5%9C%96%E7%89%87/%E5%A4%9A%E5%85%83%E5%8C%96%E5%AE%A2%E8%A3%BD_mbjytj.jpg" alt="Category image" class="w-100">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock content %}